Package: com.roothide.bootstrap.bootstrap-dylib
Name: bootstrap
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome library of some sort!!
Maintainer: roothide
Author: roothide
Section: System
Tag: role::developer
